.login-container {
  width: 350px;
  margin: auto;
  padding: 20px;
  background-color: white;
  border: 2px solid #1a4314;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  color: #1a4314;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: 400;
  color: #2bb316;
}

input {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Password Wrapper Styles */
.password-group {
  margin-bottom: 15px;
}

.password-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}

.password-wrapper input {
  width: 100%;
}

.password-toggle {
  font-size: 1.5rem;
  color: #555;
  cursor: pointer;
  position: absolute;
  right: 10px;
  transition: color 0.3s;
}

.password-toggle:hover {
  color: #1a4314;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #247717;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #064103;
}

/* Remember Me and Forgot Password */
.remember {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.checkbox {
  display: flex;
  flex-direction: row;
}

.remember input {
  margin: 0;
}

.remember label {
  margin-left: 8px;
  font-size: 0.9rem;
  color: #1a4314;
}

.forgot-password {
  font-size: 0.9rem;
  color: #1a4314;
  text-decoration: underline;
  cursor: pointer;
  margin-left: auto;
}

.forgot-password:hover {
  color: #145a10;
}

/* Sign-Up Link */
.signup-link {
  text-align: center;
  margin-top: 20px;
}

.signup-link p {
  font-size: 0.9rem;
  color: #1a4314;
}

.signup-link a {
  color: #3498db;
  font-weight: bold;
  text-decoration: none;
}

.signup-link a:hover {
  text-decoration: underline;
}
